@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
body::-webkit-scrollbar {
  width: 0;
  display: none; /* Safari and Chrome */
}
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
} */

body{
    /* background-color: #676279;
    background: linear-gradient(to right, #c9d6ff, #676279);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh; */

    /* old */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 11 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}
/* 
body {
  height: 100vh;
  margin: 0;
  background-color: #676279;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height: 100vh;
}
.card-login{
  width: 60vw;
  max-width: 1000px;
  max-height: 800px;
  height: 70vh;
  background: #2b2738;
  border-radius: 10px;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.login-shadow {

  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
              0 0  0 2px rgb(43, 39, 58),
              0.3em 0.3em 1em rgba(0,0,0,0.3),
              0 0 10px rgba(0,0,0,0.2);
  transform-style: preserve-3d;
  perspective: 1000px;

 }
 .login-shadow2{

  box-shadow: inset 0 -3em 3em rgba(188, 140, 242, 0.1),
              0 0  0 2px rgb(79, 69, 112),
              0.3em 0.3em 1em rgba(107, 81, 160, 0.3),
              0 0 10px rgba(73, 49, 96, 0.2);
  transform-style: preserve-3d;
  perspective: 1000px;

 }
 .container-login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 20px;
 }
 .header-cust{
  transform-style: preserve-3d;
  perspective: 3000px;
 }
 .background-app-dark{
  background: #2b2738;
 }
 .card-dash {
  width: 350px;
  height: 400px;
  background: #fbfaff;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }
 
 .shadow-dash {
  /* box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
              0 0  0 2px rgb(190, 190, 190),
              0.3em 0.3em 1em rgba(0,0,0,0.3); */
  /* border-radius: 26px;
  background: #fbfaff;
  box-shadow:  -14px -14px 28px #bcbcbc,
                14px 14px 28px #ffffff; */

  border-radius: 37px;
  background: #fbfaff;
  box-shadow:  11px 11px 46px #d0d0d0,
  -11px -11px 46px #f0f0f0;
 }
 .msg-container{
  border-radius: 8px;
  background: #e0daf8;
  box-shadow:  -33px 33px 66px #ffffff,
              33px -33px 66px #ffffff;
 }
 .user-self-message{
  display: flex;
  text-align: end;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: flex-end;
 }

.nlogin-container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.nlogin-container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.nlogin-container span{
    font-size: 12px;
}

.nlogin-container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.nlogin-container button{
    background-color: #2b2738;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.nlogin-container button.nlogin-hidden{
    background-color: transparent;
    border-color: #fff;
}

.nlogin-container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.nlogin-container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.nlogin-form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.nlogin-sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.nlogin-container.nlogin-active .nlogin-sign-in{
    transform: translateX(100%);
}

.nlogin-sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.nlogin-container.nlogin-active .nlogin-sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.nlogin-social-icons{
    margin: 20px 0;
}

.nlogin-social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.nlogin-toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.nlogin-container.nlogin-active .nlogin-toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.nlogin-toggle{
    background-color: #2b2738;
    height: 100%;
    background: linear-gradient(to right, #2b2738, #7b709f77);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.nlogin-container.nlogin-active .nlogin-toggle{
    transform: translateX(50%);
}

.nlogin-toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.nlogin-toggle-left{
    transform: translateX(-200%);
}

.nlogin-container.nlogin-active .nlogin-toggle-left{
    transform: translateX(0);
}

.nlogin-toggle-right{
    right: 0;
    transform: translateX(0);
}

.nlogin-container.nlogin-active .nlogin-toggle-right{
    transform: translateX(200%);
}